@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

/* Optionnel : personnaliser le scroll-padding-top si vous avez un header fixe */
html {
  scroll-padding-top: 6rem; /* 96px */
}

/* Pour les sections avec ancres, ajouter un offset */
[id] {
  scroll-margin-top: 6rem;
}

body {
  @apply font-inter text-gray-900;
}

h1 {
  @apply font-inter font-bold text-4xl;
}

h2, h3, h4 {
  @apply font-mona font-semibold;
}
